<section>
    <div class="TopContainer">
        <img class="logo" src="./../../../assets/icon/logo/whiteLogo.png">
        <div class="icons">
            <a href=""><img class="logo" src="./../../../assets/icon/github.png"></a>
            <a href=""><img class="logo" src="./../../../assets/icon/email.png"></a>
            <a href=""><img class="logo" src="./../../../assets/icon/linkedin.png"></a>
        </div>
    </div>



    <div class="bottomContainer">
        <span>© Christian Bockshorn 2024</span>
        <div class="imprintContainer">
            <a href="#">Imprint |</a>
            <a href="#"> Legal Notice</a>
        </div>
    </div>
</section>