section {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: black;

    a {
        text-decoration: none;
        font-family: Overpass;
        color: #fffcf3;
        background-color: #000;

        img {
            background-color: #000;
        }
    }

    >.TopContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;

        >.logo {
            height: 74px;
        }

        >.icons {
            display: flex;
            gap: 30px;
            background-color: #000;

            a {
                transition: all .3s ease;

                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }

    >.bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;

        span {
            font-family: Overpass;
            color: #fffcf3;
            background-color: #000;
        }
    }
}