<section>
    <div class="leftColumn">
        <img class="logo" src="./../../../assets/icon/logo/Blacklogo.png">
        <span>© Christian Bockshorn 2024</span>
    </div>
    <div class="rightColumn">
        <div>
            <a href=""><img class="logo" src="./../../../assets/icon/github.png"></a>
            <a href=""><img class="logo" src="./../../../assets/icon/email.png"></a>
            <a href=""><img class="logo" src="./../../../assets/icon/linkedin.png"></a>
        </div>
        <div>
            <a href="#">Imprint |</a>
            <a href=""> Legal Notice</a>
        </div>
    </div>
</section>



<section>
    <div class="TopContainer"></div>
    <div class="bottomContainer"></div>
</section>