<section>
    <div class="twoColumns">
        <div class="leftCol">
            <span class="headline">About me</span>

            <p id="aboutMeText">
                I am a Frontend developer based in Kaiserslautern, Germany. I help designers and companies to bring their
                ideas to real life. Creativity and logical thinking are skills that I have developed to connect
                ideas
                into quality products. If you think I’d be a good match for your projects, contact me!
            </p>
            <div>
                <span id="btn">Let's talk</span>
            </div>
        </div>

        <div class="rightCol">
            <div class="imgDiv">
                <img src="./../../../assets/img/Bewerbungsbild.jpg">
            </div>
        </div>
    </div>

</section>