<section id="aboutMe">
    <div class="twoColumns">
        <div class="leftCol">
            <span class="headline">About me</span>

            <p id="aboutMeText">
                I am a Frontend Developer and a Mechanical Engineer based in Kaiserslautern, Germany. I help designers
                and companies to bring
                their
                ideas to real life. Creativity and logical thinking are skills that I have developed to connect
                ideas
                into quality products. If you think I’d be a good match for your projects, contact me!
            </p>
            <div>

                <a href="#letstalk"><span id="btn">Let's talk</span></a>
                <a href="#letstalk"><span id="btnResume">Resume</span></a>
            </div>
        </div>

        <div class="rightCol">
            <div class="imgDiv">
                <img src="./../../../assets/img/Bewerbungsbild.jpg" priority>
            </div>
        </div>
    </div>

</section>
