<section id="projects">
    <span class="headline">Portfolio</span>
    <p>This page is a sample of my work - please feel free to try them out.</p>

    <div *ngFor="let project of projects; let i = index" class="mainContainer" [ngClass]="{'row-reverse': i % 2 == 1}">
        <div class="projectPreview">
            <img [src]="project.img">
            <div class="imageBorder ">
                <img class="portfolioArrow" src="./assets/img/portfolioArrow.png">
            </div>
        </div>


        <div class="counter">
            {{ (i + 1).toString().padStart(2, '0') }}/{{ projects.length | number:'2.0-0' }}
        </div>

        <div class="projectInformation">
            <h3>{{ project.name }}</h3>
            <span>{{ project.usedTech }}</span>
            <span style="color: #000;">{{ project.description }}</span>
            
            <div class="projectBtn">
                <a [href]="project.gitHubURL" target="_blank" id="btn">GitHub</a>
                <a [href]="project.liveTestURL" target="_blank" id="btn">Live Test</a>
            </div>

        </div>
    </div>
</section>