section {

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 30px 100px;
    margin-top: 200px;


    a {
        text-decoration: none;
        color: #000;
    }

    >.headline {
        font-size: clamp(2.8125rem, 2.0625rem + 3.75vw, 4.875rem);
        margin: -34px;
        padding-left: 15px;
        padding-right: 15px;

        &:hover {
            color: #00bc8f;
        }
    }

    >.mainContainer {
        height: 460px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        position: relative;

        &:hover {
            .projectPreview img {
                filter: grayscale(0%);
                transition: all ease-in-out 500ms;
            }

            .projectInformation {
                translate: 0%;
                opacity: 1;
                transition: all ease-in-out 750ms, opacity 750ms;
            }

            .imageBorder {
                opacity: 1;
                transform: translate(10px, 10px);
                transition: all ease-in-out 250ms;
            }
        }


        .projectPreview {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                width: 620px;
                height: 393px;
                object-fit: cover;
                filter: grayscale(100%);
                transition: all ease-in-out .5s;
            }

            .imageBorder {
                height: 100%;
                width: 100%;
                border: solid 3px black;
                position: absolute;
                opacity: 0;
                transition: all ease-in-out .25s;
            }
        }


        .projectInformation {
            display: flex;
            flex-direction: column;
            translate: -100%;
            opacity: 0;
            transition: all ease-in-out .75s, opacity .75s;

            >h3 {
                font-size: 40px;
                font-family: Syne;
                font-weight: 800;

                &:hover {
                    color: #00bc8f;
                }
            }

            >span {
                font-family: Overpass;
                font-weight: 400;
                font-size: 24px;
                color: #00bc8f;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 120%;
                max-width: 492px;
            }
        }

        .counter {
            font-family: Syne;
            font-weight: 700;
            font-size: 48px;
            position: absolute;
            top: 0;
            right: 0;
        }

        p {
            color: #000;
            font-family: Overpass;
            font-size: 23px;
            font-weight: 400;
            line-height: 120%;
            max-width: 492px;
        }
    }
}