section {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 30px 100px;
    flex-direction: column;
    margin-top: 300px;
    

    >.header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        >.headline {
            font-size: clamp(2.8125rem, 2.0625rem + 3.75vw, 4.875rem);
            z-index: 100;
            margin: -34px;
            padding-left: 15px;
            padding-right: 15px;

            &:hover {
                color: #00bc8f;
            }
        }
    }

    >.skills {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 80px;
        flex-wrap: wrap;
        gap: 100px;
        border: 4px solid black;
        border-radius: 8px;

        img {
            transition: transform 1.5s;
            
            &:hover {
                transform: rotate(360deg);
                
            }
        }
    }
}
