<section id="mySkills">
    <div class="header">
        <span class="headline">My Skills</span>
    </div>

    <div class="skills">
        <img src="./../../../assets/icon/angularSkill.png">
        <img src="./../../../assets/icon/typescriptSkill.png">
        <img src="./../../../assets/icon/javascriptSkill.png">
        <img src="./../../../assets/icon/firebaseSkill.png">
        <img src="./../../../assets/icon/htmlSkill.png">
        <img src="./../../../assets/icon/cssSkill.png">
        <img src="./../../../assets/icon/gitSkill.png">
        <img src="./../../../assets/icon/scrumSkill.png">
        <img src="./../../../assets/icon/restSkill.png">
        <img src="./../../../assets/icon/materialSkill.png">
    </div>
</section>