section {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap;
    padding: 30px 100px;
    flex-direction: column;
    margin-top: 200px;
    
    border: 1px solid black;

    >.header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        >.headline {
            font-size: clamp(2.8125rem, 2.0625rem + 3.75vw, 4.875rem);
            padding: 20px;
            white-space: nowrap;
            border: 1px solid black;


            &:hover {
                color: #00bc8f;
            }
        }
    }



    >.skills {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 120px;
        border: 1px solid black;
    }


}