<section>
    <div class="mainContainer">
        <div class="leftColumn">
            <img src="./../../../../assets/img/Project-img/ElPolloLoco.png">
        </div>

        <div class="rightColumn">
            <span class="headline">El Pollo Loco</span>
            <p class="programmingLang">JavaScript | HTML | CSS | OOP</p>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.</p>
            <div>
                <a href="https://github.com/ChristianBockshorn/El-Pollo-Loco-2D-Game" id="btn">Github</a>
            </div>
        </div>


    </div>
</section>