section{
    min-height: 400px;
    padding: 30px 100px;
    margin-top: -290px;
    
}

#mail {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    font-family: Overpass;
    font-size: 23px;
    font-weight: 300;
    line-height: 100%;
    color: #000;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >span {
        margin-top: 15px;
        font-family: Overpass;
        font-size: 23px;
    }
}


.scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
        transform: rotate(-45deg);
    }
}



@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@keyframes scroll {
    0% {
        height: 40px;
    }

    30% {
        height: 70px;
    }

    60% {
        height: 40px;
    }
}

@-webkit-keyframes scroll {
    0% {
        height: 40px;
    }

    30% {
        height: 70px;
    }

    60% {
        height: 40px;
    }
}