section {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 30px 100px;
   font-family: 'syne';
   letter-spacing: normal;

   .rectangleShadow {
      background-color: #2196F3;
      width: 100%;

   }


   margin-top: 100px;
   background-image: url('./../../../assets/img/Rectangle.png');
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 250px;

   >.formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 216px;

      align-items: center;
      justify-content: center;
      background-color: #000;


      >.iconMainContainer {
         display: flex;
         flex-wrap: wrap;
         background-color: #000;
         margin-top: 50px;
         margin-left: 190px;
         max-width: 700px;
         box-sizing: border-box;
         gap: 70px;
         justify-content: center;
         align-items: center;

         >.icons {
            display: flex;
            gap: 30px;
            background-color: #000;

            .contactContainer {
               display: flex;
               width: 300px;
               gap: 20px;
               background-color: #000;

               >.rightColumn {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  gap: 8px;
                  background-color: #000;

                  span {
                     color: #fffcf3;
                     background-color: #000;
                  }

                  .rightColumnHeadline {
                     font-size: 24px;
                     color: #00bc8f;

                  }
               }
            }

            .iconContainer {
               background-color: #00bc8f;
               display: flex;
               justify-content: center;
               align-items: center;
               width: 70px;
               height: 70px;
               border-radius: 30%;

               a {
                  transition: all .3s ease;
                  background-color: #00bc8f;
                  text-decoration: none;


                  &:hover {
                     transform: translateY(-10px);
                  }
               }
            }

            .logo {
               background-color: #00bc8f;
            }
         }

      }



      >.formHeader {
         color: #00bc8f;
         background-color: #000;
         font-family: Overpass;
         font-size: 32px;
         font-weight: 400;
         margin-bottom: 18px;
      }

      >.formSlogan {
         color: #fffcf3;
         background-color: #000;
         font-family: Syne;
         text-decoration: none;
         font-size: 23px;
         margin-bottom: 18px;
      }

      form {
         display: flex;
         flex-direction: column;
         background-color: black;
         margin-top: 25px;

         .input-container {
            width: 100%;
            background-color: #000;
         }

         input {
            border: none;
            // border-bottom: 2px solid white;
            background-color: black;
            padding: 15px 25px;
            color: white;
            border: 2px solid #000;
            width: 100%;
            font-family: Overpass;

            &:hover {
               border: 2px solid white;
            }

            &:focus {
               ::placeholder {
                  color: red !important;

               }
            }
         }

         textarea {
            border: none;
            border-bottom: 2px solid white;
            background-color: black;
            padding: 15px 25px;
            color: white;
            border: 2px solid #000;
            width: 100%;
            font-family: Overpass;

            &:hover {
               border: 2px solid white;
            }
         }

         ::placeholder {
            color: #fffcf3;
         }

         label {
            background-color: #000;
            color: #fffcf3;
            font-family: Overpass;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 16.8px */

            a {
               text-decoration: none;
               color: #00bc8f;
               background-color: #000;
            }
         }

         .checkboxContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;

            /* The container */
            .container {
               display: block;
               position: relative;
               padding-left: 42px;
               margin-bottom: 12px;
               cursor: pointer;
               font-size: 22px;
               -webkit-user-select: none;
               -moz-user-select: none;
               -ms-user-select: none;
               user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container input {
               position: absolute;
               opacity: 0;
               cursor: pointer;
               height: 0;
               width: 0;
            }

            /* Create a custom checkbox */
            .checkmark {
               position: absolute;
               top: 0;
               left: 0;
               height: 25px;
               width: 25px;
               background-color: #fffcf3;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input~.checkmark {
               background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container input:checked~.checkmark {
               background-color: #2196F3;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
               content: "";
               position: absolute;
               display: none;
            }

            /* Show the checkmark when checked */
            .container input:checked~.checkmark:after {
               display: block;
            }

            /* Style the checkmark/indicator */
            .container .checkmark:after {
               left: 9px;
               top: 5px;
               width: 5px;
               height: 10px;
               border: solid white;
               border-width: 0 3px 3px 0;
               -webkit-transform: rotate(45deg);
               -ms-transform: rotate(45deg);
               transform: rotate(45deg);
            }
         }

         button {
            padding: 20px 60px;
            border: 4px solid #bbb;
            // opacity: .3;
            background-color: #000;
            box-shadow: 5px 5px 15px #00000026;
            color: #fffcf3;
            cursor: pointer;
            text-align: center;
            font-family: Overpass;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
         }
      }
   }
}
