<section>
    <span class="headline">Say Hi!</span>
    <div class="formContainer">
        <span class="formHeader">Want to discuss a new project?</span>
        <span class="formSlogan">Say hello! let's discuss your ideas and make it happen</span>
        
        <form action="http://f0155033@christian-bockshorn.developerakademie.net/send_mail/send_mail.php" method="post">
            <input type="text" name="name">
            <input type="email" name="email">
            <textarea type="text" name="message"></textarea>
            <button>Send Message</button>
        </form>
    </div>
</section>