*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Syne";
  src: url('./assets/font/Syne-VariableFont_wght.ttf');
}