header {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;

    >.logo {
        height: 74px;
        
    }

    >img {
        height: 30px;
    }
}